---
import Link from './Link.astro';

interface Props {
  href: string;
  class?: string;
  'data-testid'?: string;
}

const { href, class: className, 'data-testid': dataTestId }: Props = Astro.props;
---

<Link href={href} class={`flex items-center gap-2 ${className}`} data-testid={dataTestId}>
  <span>←</span>
  <slot />
</Link>
