---
interface Props {
  class?: string;
  'data-testid'?: string;
}

const { class: className, 'data-testid': dataTestId }: Props = Astro.props;
---

<nav class={`${className}`} data-testid={dataTestId}>
  <slot />
</nav>
