---
interface Props {
  class?: string;
  'data-testid'?: string;
}

const { class: className, 'data-testid': dataTestId }: Props = Astro.props;
---

<h5 class={`text-lg font-bold ${className}`} data-testid={dataTestId}>
  <slot />
</h5>
