---
import { hobbies } from "./hobby/_hobbies";
import * as App from "../_app/_index.astro";
import Card from "../../lib/ui/Card.astro";
---

<App.Page>
  <App.PageHeader />

  <App.PageBody backgroundColor="bg-gray-100" class="flex flex-col min-h-screen">
    <App.PageHero
      title="My Hobbies"
      subtitle="Explore the things I enjoy doing in my free time."
    />
    
    <App.PageSection>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
          {
            hobbies.map((hobby) => (
              <App.Link href={hobby.href} class="block">
                <Card class="shadow-lg hover:shadow-2xl transition-shadow duration-300">
                  <h2 class="text-xl font-semibold text-gray-800">
                    {hobby.name}
                  </h2>
                </Card>
              </AppLink>
            ))
          }
        </div>
    </App.PageSection>

    <App.PageFooter />
  </App.PageBody>
</App.Page>
