---
import Nav from "../../../lib/ui/Nav.astro";
import Ul from "../../../lib/ui/Ul.astro";
import Li from "../../../lib/ui/Li.astro";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<Nav class={`mb-16 ${className}`}>
  <Ul class="flex flex-col gap-2">
    <Li>
      <slot name="title" />
      <Ul class="ml-4 mt-1 border-l border-gray-200 space-y-1">
        <slot />
      </Ul>
    </Li>
  </Ul>
</Nav> 