---
import P from "../../../lib/ui/P.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<P class={`text-xl text-gray-600 max-w-3xl ${className || ''}`}>
  <slot />
</P> 