---
import H1 from "../../../lib/ui/H1.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<H1 class={`text-5xl font-bold mb-6 ${className || ''}`}>
  <slot />
</H1> 