---
import { P } from '../../../lib/ui';

interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<P {...rest} class={`text-lg mb-8 ${className ?? ''}`}>
  <slot />
</P>
