---
import AppLogoLink from "./_AppLogoLink.astro";
import AppNavMenu from "./_AppNavMenu.astro";
import AppNavMenuItem from "./_AppNavMenuItem.astro";
import { makeSherpa } from "../_sherpa/_Sherpa";

const sherpa = makeSherpa();

interface Props {
  class?: string;
}

const props: Props = Astro.props;
---

<header
  class={`fixed top-0 left-0 right-0 z-50 bg-orange-300 shadow-md w-full flex justify-between items-center h-24 ${props.class}`}
>
  <div
    class="my-4 px-4 md:px-0 max-w-screen-md w-full mx-auto flex justify-between items-center"
  >
    <AppLogoLink class="inline p-0 m-0" />
    <AppNavMenu>
      <AppNavMenuItem href={sherpa.work.index({})}>Work</AppNavMenuItem>
      <AppNavMenuItem href={sherpa.family.index({})}>Family</AppNavMenuItem>
      <AppNavMenuItem href={sherpa.play.index({})}>Play</AppNavMenuItem>
    </AppNavMenu>
  </div>
</header>
<div class="h-24">{" "}</div>