---
import "/src/styles/global.css";

interface Props {
  class?: string;
  backgroundColor?: string;
}

const {
  class: className,
  backgroundColor,
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="google-site-verification" content="google-site-verification=UZmaO1uZlFChlPQgquFUNjAd12qbfp60fJL9QW_oxIY" />
    <meta name="generator" content={Astro.generator} />
    <title>Andrew Hol(z)brook</title>
  </head>

  <body
    class=`${backgroundColor ?? 'bg-white'} w-1/1 h-1/1 m-0 ${className}`
  >
    <slot />
  </body>
</html>
