---
interface Props {
  bgColor: string;
  class?: string;
}

const { bgColor, class: className, ...rest } = Astro.props;
---

<div
  class={`flex-1 flex flex-col justify-between p-8 rounded-2xl shadow-lg ${bgColor} text-center ${className ?? ''}`}
  {...rest}
>
  <slot />
</div>
