---
import { H2 } from '../../typography';

interface Props {
  class?: string;
  'data-testid'?: string;
}

const { class: className, 'data-testid': dataTestId }: Props = Astro.props;
---

<h3 class={`text-2xl font-bold mb-4 ${className}`} data-testid={dataTestId}>
  <slot />
</h3>
