---
interface Props {
  class?: string;
  id?: string;
  'data-testid'?: string;
}

const { class: className, id, 'data-testid': dataTestId } = Astro.props;
---

<div {id} class:list={['space-y-12', className]} data-testid={dataTestId}>
  <slot />
</div>
