---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`mb-16 ${className}`}>
  <div class="mb-4">
    <slot name="title" />
  </div>
  <div class="space-y-2">
    <slot />
  </div>
</div>
