---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  href={href}
  class="block text-sm text-gray-600 hover:text-gray-900 hover:underline"
  data-astro-prefetch
>
  {label}
</a>
