---
interface Props {
  class?: string;
  href: string;
  target?: string;
}

const { class: className = "", href, target } = Astro.props;
---

<a 
  href={href}
  target={target}
  class={`text-primary-600 hover:text-primary-700 transition-colors ${className}`}
>
  <slot />
</a> 