---
import { H2 } from '../../../../lib/ui';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<H2 class:list={['text-2xl font-medium text-gray-900', className]}>
  <slot />
</H2>
