---
import Card from "../../../lib/ui/Card.astro";
import type { FamilyMember } from "../_familyMember/FamilyMember";

interface Props {
  familyMember: FamilyMember;
  class?: string;
}

const props: Props = Astro.props;
const firstName = props.familyMember.firstName;
const middleName = props.familyMember.middleName;
const lastName = props.familyMember.lastName;
---

<Card class=`${props.class}`>
  <h1>{firstName} {middleName} {lastName}</h1>
</Card>
