---
import UI from "../../../lib/ui";
import type { FamilyMember } from "../_familyMember/FamilyMember";

interface Props {
  familyMember: FamilyMember;
  class?: string;
}

const {
  class: className,
  familyMember: {
    firstName,
    middleName,
    lastName,
  }
}: Props = Astro.props;
---

<UI.Layout.Box class={className}>
  <h1>{firstName} {middleName} {lastName}</h1>
</UI.Layout.Box>
