---
import UI from '../../lib/ui';

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<section class={`
  flex
  flex-col
  items-center
  w-full
  space-y-12
  ${className}
`}>
  <UI.Layout.VStack class={`
    w-full
    max-w-6xl
    px-4
    gap-y-8
  `}>
    <slot />
  </UI.Layout.VStack>
</section>
