---
import { H3 } from '@/lib/ui';
import { WorkSkillId } from '../skill/WorkSkill';
import type { WorkSkill } from '../skill/WorkSkill';

interface Props {
  category: string;
  skills: Record<WorkSkillId, WorkSkill>;
  skillIds: WorkSkillId[];
  icon: string;
  class?: string;
}

const { category, skills, skillIds, icon, class: className } = Astro.props;
---

<div class:list={['bg-white rounded-lg shadow-md p-6 space-y-4', className]}>
  <div class="flex items-center space-x-4">
    <div class="text-2xl text-gray-700">
      {icon}
    </div>
    <H3 class="text-lg font-semibold text-gray-900">
      {category}
    </H3>
  </div>

  <div class="flex flex-wrap gap-2">
    {
      skillIds.map(skillId => (
        <div class="bg-gray-100 text-gray-700 text-sm px-3 py-1 rounded-full">
          {skills[skillId].name}
        </div>
      ))
    }
  </div>
</div>
