---
import P from "../../lib/ui/P.astro";

interface Props {
  class?: string;
} 

const { class: className } = Astro.props;
---

<P class={`text-lg text-gray-600 mt-4 ${className}`}>
  <slot />
</P> 