---
interface Props {
  href: string;
  target?: string;
  download?: string;
}

const { href, target = '_blank', download }: Props = Astro.props;
---

<a
  href={href}
  class="flex items-center gap-2 text-gray-600 hover:text-primary-600 transition-colors group"
  target={target}
  rel="noopener noreferrer"
  download={download}
>
  <slot />
</a>
