---
import AppLink from '@/lib/app/AppLink.astro';

const currentPath = Astro.url.pathname;

interface Props {
  href: string;
  class?: string;
}

const { class: className, href: path }: Props = Astro.props;
---

<li class={className}>
  <AppLink
    href={currentPath === path ? undefined : path}
    class={currentPath === path ? 'underline' : 'hover:underline'}
  >
    <slot />
  </AppLink>
</li>
