---
import '/src/styles/global.css';
import { ClientRouter } from 'astro:transitions';

interface Props {
  class?: string;
  backgroundColor?: string;
  noIndex?: boolean;
  title?: string;
}

const { class: className, backgroundColor, noIndex, title = 'Andrew Hol(z)brook' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="google-site-verification" content="UZmaO1uZlFChlPQgquFUNjAd12qbfp60fJL9QW_oxIY" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    {noIndex && <meta name="robots" content="noindex" />}
    <title>{title}</title>
    <ClientRouter />
  </head>

  <body
    class={className}
    style={backgroundColor ? `background-color: ${backgroundColor};` : undefined}
  >
    <slot />
  </body>
</html>
