---
interface Props {
  class?: string;
  backgroundColor?: string;
}

const { class: className, backgroundColor = 'bg-white' }: Props = Astro.props;
---

<div class={`${backgroundColor} ${className}`}>
  <slot />
</div>
