---
import { App } from '@/lib/app';
import { makeHomeSherpa } from '@/pages/_/homePage.sherpa';
import { LandingPage } from '@/lib/ui';

const sherpa = makeHomeSherpa();

interface Props {
  class?: string;
  logoLinkHref?: string;
  navMenuItems?: {
    href: string;
    text: string;
  }[];
}

const {
  class: className,
  logoLinkHref = sherpa.home({}),
  navMenuItems = [
    {
      href: sherpa.work.index({}),
      text: 'Work',
    },
    {
      href: sherpa.family.index({}),
      text: 'Family',
    },
    {
      href: sherpa.play.index({}),
      text: 'Play',
    },
  ],
}: Props = Astro.props;
---

<header
  class={`fixed top-0 left-0 right-0 z-50 bg-orange-300 shadow-md w-full flex justify-between items-center h-24 ${className}`}
>
  <div class="my-4 px-4 md:px-0 max-w-screen-md w-full mx-auto flex justify-between items-center">
    <App.LogoLink class="inline p-0 m-0" href={logoLinkHref} />
    <LandingPage.NavMenu>
      {
        navMenuItems.map(item => (
          <LandingPage.NavMenuItem href={item.href}>{item.text}</LandingPage.NavMenuItem>
        ))
      }
    </LandingPage.NavMenu>
  </div>
</header>
<div class="h-24">{' '}</div>
