---
import { H3 } from '../../../lib/ui';

interface Props {
  category: string;
  skills: string[];
  icon: string;
  class?: string;
}

const { category, skills, icon, class: className } = Astro.props;
---

<div
  class:list={[
    'bg-white rounded-lg shadow-md p-6 space-y-4 hover:shadow-lg transition-shadow',
    className,
  ]}
>
  <div class="flex items-center space-x-4">
    <div class="text-2xl text-gray-700">
      {icon}
    </div>
    <H3 class="text-lg font-semibold text-gray-900">
      {category}
    </H3>
  </div>

  <div class="flex flex-wrap gap-2">
    {
      skills.map(skill => (
        <div class="bg-gray-100 text-gray-700 text-sm px-3 py-1 rounded-full">{skill}</div>
      ))
    }
  </div>
</div>
