---
interface Props {
  href?: string;
  class?: string;
  target?: string;
}

const { href, class: className, target }: Props = Astro.props;
---

{
  href == null ? (
    <span class={className}>
      <slot />
    </span>
  ) : (
    <a href={href} class={className} target={target} data-astro-prefetch>
      <slot />
    </a>
  )
}
