---
interface Props {
  radius: string;
}

const { radius } = Astro.props;
---

<button
  class="h-8 bg-primary-500 text-white flex items-center justify-center px-3 text-xs font-medium shadow-sm hover:bg-primary-600 transition-colors"
  style={`border-radius: ${radius}`}
>
  Primary Button
</button>
